.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 28px;
    margin-bottom: 25px;

    & a:hover {
      opacity: 0.6;
      text-decoration: underline;
    }
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
